@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

html {
  height:100%;
}

body {
  margin:0;
  background-image: url('../img/back.jpg');
}

.colonne {
	margin-left: 70px;
    margin-right: 70px;
}

.content {
	margin-top: 120px;
}

.content-left {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  padding:10vmin;
  text-align:center;
  top:50%;
}

.content-right {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  padding:10vmin;
  text-align:center;
  top:50%;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
}

.submit {
	color: green;
}

.login-image {
	height: 100px;
    margin-bottom: 20px;
}

.success{
	color: white;
	background-color: green;
}

.erreur{
	color: red;
	margin-top: 10px;
}